*{
    font-family: 'Roboto', sans-serif;
} 

ul {
    background-color: #2bbbad;
    display: flex;
    margin-bottom: 0;
}

ul li {
    padding: 15px 50px;
    list-style: none;
    margin-right:50px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color:#fff;
    transition: all 0.3s ease-in-out;
}

.heading li:hover,.heading li:focus{
    color: #000000;
    background-color: #fff;
}

li.active {
    background-color: rgba(0,0,0,.2);
}

.Tab-Content{
    display:none;
}

.Tab-Content.active{
    display: block;
}
.card-text:last-child {
    margin-bottom: 30px;
    color : rgba(0,0,0,0.6)
}

.card-text strong {
    color: #000;
    font-size: 18px;
}
@media all and (max-width:1200px){
    ul li {
        padding: 15px 40px;
        margin-right:40px;
    }
}
@media all and (max-width:900px){
    ul li {
        padding: 15px 20px;
        margin-right:20px;
    }
}

@media all and (max-width : 600px) {
    ul li {
        padding: 15px 15px;
        list-style: none;
        margin: 0;
        text-align: left;
        font-size: 12px;
    }

    ul {
        background-color: #2bbbad;
        display: block;
        margin-bottom: 0;
        padding: 0;
    }
}

/* @media (min-width: 992px) {
    .col-lg-6 {
        max-width: 55%;
    }
} */